<!DOCTYPE html>

<html lang="es">

	<head>
		{% include 'layout/header.html' %}
	</head>

	<body class="no-trans front-page transparent-header  ">

		<div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
		
		<div class="page-wrapper">
			
			{% include 'layout/menu.html' %}

			{# breadcrumb start #}
			{# ================ #}
			<div class="breadcrumb-container">
				<div class="container">
					<ol class="breadcrumb">
						<li><i class="fa fa-home pr-10"></i><a href="/{{ lang_code }}/index.html">{% trans %}Inicio{% endtrans %}</a></li>
						<li class="active">{% trans %}Servicios{% endtrans %}</li>
						<li class="active">{% trans %}Consultoría{% endtrans %}</li>
					</ol>
				</div>
			</div>
			{# breadcrumb end #}

			{# main-container start #}
			{# ================ #}
			<section class="main-container padding-ver-clear">
				<div class="container pv-40">
					<div class="row">

						{# main start #}
						{# ================ #}
						<div class="main col-md-8">
							<h1 class="title">{% trans %}Consultoría{% endtrans %}</h1>
							<div class="separator-2"></div>
							<p>{% trans %}Nuestros diferentes departamentos y gracias a nuestra trayectoria, nos permiten asesoran en multiples disciplinas de seguridad y así ofrecer un servicio completo de consultoría para su empresa{% endtrans %}</p>
							<h3>{% trans %}Experiencia{% endtrans %}</h3>
							<p>{% trans %}HISPASEC ofrece un amplio departamento técnico y consultivo con los mejores profesionales.{% endtrans %}</p>
							<p>{% trans %}Basados en los estándares y mejores prácticas de la industria, brindamos asistencia en análisis de riesgos tecnológicos, desarrollo de planes de recuperación ante desastres e implementación de planes de contingencia.{% endtrans %}</p>	
						</div>
						{# main end #}

						{# sidebar start #}
						{# ================ #}
						<aside class="col-md-4 col-lg-3 col-lg-offset-1">
							<div class="sidebar">
								<div class="block clearfix">
									<img src="/static/images/services_CO.png" alt="">							
								</div>
							</div>
						</aside>
						{# sidebar end #}
					</div>
				</div>
			</section>
			{# main-container end #}

			{# main-container start #}
			{# ================ #}
			<section class="main-container padding-bottom-clear">
				<div class="container">
					<div class="row">
						{# main start #}
						{# ================ #}
						<div class="main col-md-12">

							<div class="row">
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="100">
										<span class="icon large default-bg circle"><i class="fa fa-unlock-alt"></i></span>
										<h3>{% trans %}Seguridad en la red empresarial{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Asesoramiento en los diferentes departamentos y redes de la empresa.{% endtrans %}</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="200">
										<span class="icon large dark-bg circle"><i class="fa fa-database "></i></span>
										<h3>{% trans %}Protección de datos{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Orientado a todo el proceso relacionado con la gestión y protección de los datos privados de la entidad.{% endtrans %}</p>
									</div>
								</div>
								<div class="col-md-4 col-sm-6">
									<div class="ph-20 feature-box text-center object-non-visible" data-animation-effect="fadeInDownSmall" data-effect-delay="300">
										<span class="icon large default-bg circle"><i class="fa fa-wifi"></i></span>
										<h3>{% trans %}Seguridad en comunicaciones inalámbricas{% endtrans %}</h3>
										<div class="separator clearfix"></div>
										<p class="text-muted">{% trans %}Asesoramiento sobre el correcto dimensionamiento de las infraestucturas WIFI implantadas para evitar problemas relacionados con la seguridad.{% endtrans %}</p>
									</div>
								</div>
								<div class="clearfix visible-md"></div>
							</div>
						</div>
						{# main end #}
					</div>
				</div>
			</section>
			{# main-container end #}			

			{# section start #}
			{# ================ #}
			<section class="section background-img-2 dark-translucent-bg" style="background-position: 50% 100%;">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="call-to-action text-center">
								<div class="row">
									<div class="col-sm-8">
										<h1 class="title">{% trans %}¿Interesado?{% endtrans %}</h1>
										<p>{% trans %}Nuestro departamento se pondrá en contacto con ustedes lo antes posible. No dude en consultarlo con nosotros{% endtrans %}</p>
									</div>
									<div class="col-sm-4">
										<br>
										<p><a href="/{{ lang_code }}/contact.html" class="btn btn-lg btn-gray-transparent btn-animated">{% trans %}Consúltenos{% endtrans %}<i class="fa fa-envelope-o pl-20"></i></a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{# section end #}


		{% include 'layout/footer.html' %}

		{% include 'layout/libs.html' %}


	</body>
</html>
